/*
 * TODO coller ce code dans editor.scss à définir
 * Balise de css pour le développement, à déplacer lors de la mise en production
 * Si on le met directement dans le scss, nécessite de lancer npm run prod après chaque modif pour regénérer le css à partir du scss
 */

 // Variables
 @import "variables";

 .expand {
   height: 100%;
 }

 #app {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: min-content 1fr;
 }

 #editor {
   display: grid;
   grid-template-columns: 50px 1fr 250px;
   grid-template-rows: 1fr;
 }

 #tools {
   display: flex;
   flex-direction: column;
   background-color: $color-side;
 }

 #background-color {
   fill: $color-bg;
 }

 #tools a {
   padding: 1.2em 1em;
   height: 50px;
 }

 #canvas {
   background-color: #ecf0f1;
 }

 #options {
   background-color: $color-side;
 }

 a svg .fill{
   fill: #ecf0f1;
 }

 a svg:hover .fill{
   fill: white;
 }

 a svg .stroke{
   stroke: #ecf0f1;
 }

 a svg:hover .stroke{
   stroke: white;
 }

 a.active svg .fill{
   fill: $color-orange;
 }

 a.active svg .stroke{
   stroke: $color-orange;
 }

 #svgEditor{
   width:100%;
   height:100%;
   display: flex;
 }

 #svgEditor svg{
   background-color: white;
   margin: auto;
 }

 #strokeWidth{
   width:50px;
 }

 .hidden-data {
   display: none;
   visibility: hidden;
 }

 #fileinput{
   display:none;
 }

 #tools #color-picker{
   margin: 0 -10px;
   height: 75px;
 }
